
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<h2>@ViewBag.Grupo</h2>
<h2>@ViewData["Materia"]</h2>

<h2>@ViewBag.valor</h2>

@*pusimos null porque no lo ocupamos, normalmente es para atrapar un dato, por ejemplo un ID*@
@Html.ActionLink("Mi ruta", "Index", "Home", null, new {dato = "", @class = "btn btn-danger"})