
@{
    ViewBag.Title = "Degree Converter";
}

<h2><b>Degree Converter</b></h2>

<br />

<h2>@ViewBag.Res</h2>

<br />
@Html.ActionLink("RETURN", "Index", "Grados", null, new { dato = "", @class = "btn btn-secondary" })

