
@{
    ViewBag.Title = "Index";
}

<h2>Calculator</h2>
<div class="container">
    <div class="row div col-lg-6">
        <form action="/" method="POST">
            <label for="x1">First Number:</label>
            <input type="number" name="x1" value="" />
            <br />
            <label for="y1">Second Number:</label>
            <input type="number" name="y1" value="" />
            <br />
            <label for="x2">First Number:</label>
            <input type="number" name="x2" value="" />
            <br />
            <label for="y2">Second Number:</label>
            <input type="number" name="y2" value="" />

            <input type="submit" name="cal" value="Calculate" />
        </form>
    </div>
    <div class="row div col-lg-6">
        <h1>The result is: @ViewBag.Res</h1>
        @Html.ActionLink("Mi ruta", "Index", "Home", null, new { dato = "", @class = "btn btn-danger" })|
    </div>
</div>
