@model IDGS904_tema1.Models.Distancia

@{
    ViewBag.Title = "Index";
}

<h2>Calculator</h2>
<div class="container">
    <div class="row div col-lg-6">
        <form action="/Distancia/Index2" method="POST">
                <label>Type the coordinates to calculate the distance:</label><br /><br />

                <label>X1:</label>
                @Html.TextBoxFor(model => model.x1)
                <br />
                <label>Y1:</label>
                @Html.TextBoxFor(model => model.y1)
                <br />
                <label>X2:</label>
                @Html.TextBoxFor(model => model.x2)
                <br />
                <label>Y2:</label>
                @Html.TextBoxFor(model => model.y2)
                <br /><br />

                <input type="submit" name="cal" value="Calculate" />
            </form>
    </div>
</div>
